.forgotPassword {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: calc(100vh - 133px);
    padding-left: 60px;
    padding-right: 60px;
    background: url("../../../public/assets/bg/log-signBg.png");
    background-color: #f0f0f0;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 5%;
  }
  
  .forgotPasswordDescr {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .forgotPasswordDescr h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 63px;
    text-transform: uppercase;
    color: #002255;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .forgotPasswordDescr h6 {
    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    font-feature-settings: "liga" off;
    color: #a0a0a0;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .forgotPasswordForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    flex-wrap: wrap;
    gap: 15px;
    width: 420px;
  }
  
  
  .forgotEmail{
    width: 100%;
    height: 48px;
    background: #ffffff;
    border-radius: 2px;
    border: none;
    font-family: "Hind Madurai";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    font-feature-settings: "liga" off;
    color: #a0a0a0;
    padding-left: 7px;
  }
  
  .forgotSubmit {
    width: 100%;
    height: 50px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background: #0066ff;
    border-radius: 2px;
    border: none;
    margin-top: 30px;
    cursor: pointer;
  }
  
  .forgothint {
      width: 100%;
      position: relative;
  }
  
  .disabledButton:after {
      content: attr(data-title);
      position: absolute;
      top: -50px;
      left: 40px;
      width: 300px;
      background: #f0f0f0;
      border-radius: 10px;
      padding: 14px 20px;
      opacity: 0;
      transform: translateY(-20px);
      transition: 0.34s linear;
      color: #0066ff;
      box-shadow: 0 5px 12px #ccc;
      pointer-events: none;
      text-transform: none;
    }
    
    .disabledButton:hover:after {
      opacity: 1;
      transform: translateY(0);
    }
  
    .disabledButton {
      background: #a8bedf;
    }
  
  @media screen and (max-width: 1670px) {
    .forgotPassword {
      background: url("../../../public/assets/bg/log-signBg1560.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-color: #f0f0f0;
    }
  }
  
  @media screen and (max-width: 1370px) {
    .forgotPassword {
      background: url("../../../public/assets/bg/log-signBg1360.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-color: #f0f0f0;
    }
  }
  
  @media screen and (max-width: 1300px) {
    .forgotPasswordDescr h1 {
      font-size: 36px;
      line-height: 44px;
    }
  
    .forgotPasswordForm {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 12px;
      flex-wrap: wrap;
      gap: 8px;
      width: 390px;
    }
  
  }
  
  @media screen and (max-width: 1110px) {
    .forgotPassword {
      background: url("../../../public/assets/bg/log-signBg830.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-color: #f0f0f0;
    }
  }
  
  @media screen and (max-width: 1110px) {
    .forgotPassword {
      display: flex;
      justify-content: center;
      background: none;
      background-color: #f0f0f0;
      padding-top: 20%;
    }
  }
  
  @media screen and (max-width: 580px) {
    .forgotPasswordDescr h1 {
      font-size: 26px;
      line-height: 32px;
    }
  
    .forgotPasswordForm {
      width: 280px;
    }

    .disabledButton:after {
      position: absolute;
      top: -50px;
      left: 8px;
      width: 200px;
    }
  
  }
  